@import  './forms.css';

body {
  background: linear-gradient(170deg, rgb(169 168 191 / 40%) 0%, rgb(223, 248, 235) 40%, rgb(193, 247, 154, 0.4) 100%);
  background-image: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 }


.landing-container {
  height: calc(100vh);
  padding: 0 0 10rem 0;
}

.landing-right-box .card-wrapper {
  right: 6.75rem;
  top: 8rem;
}


/* Pages  */

/* Cart management  */

.cart-container .card-image {
  max-width: 16rem;
}

.order-total {
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
}


/* Colors */
.text-primary {
  color: var(--indigo);
}

.landing-title .text-black, .text-black {
  color: var(--dark);
}


/* navigation */

.form-input:focus {
  box-shadow: 0 0 0 0 rgb(13 110 253 / 0%);
}


/* Transform  */

.-rotate-10 {
  transform: rotate(-10deg);
}

.transform-origin-bottom {
  transform-origin: bottom;
}


/* Product Listing Page */

.product-list-container {
  grid-template-columns: 24rem 2fr;
}

.product-list-container.grid .card  {
  height: auto;
  background: rgba(255,255,255,0.6);
  max-width: 37.5rem;
  margin-bottom: 0;
}


/* Flex */

.flex-grow-2 {
  flex-grow: 2;
}
